
$color-primario: #973C00;
$color-fondo-claro: #fdfaf5; 
$color-blanco: #ffffff;
$color-gris-texto: #555555;
$color-negro-suave: #222222;


$sombra-card: 0 4px 12px rgba(0, 0, 0, 0.1);
$border-radius: 8px;

$tablet: 768px;
$desktop: 1024px;