@use 'variables' as v;
@use 'header';
@use 'home'; 
@use 'services';
@use 'footer';
@use 'contact';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif; 
    background-color: v.$color-fondo-claro;
    color: v.$color-negro-suave;
}